*{
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

body{
    background-color: #2b608f;
    padding-bottom: 40px;
}

.container{
    color: #fff;
}

.intro{
    margin-top: 50px;
    text-align: center; 
}

.search{
    text-align: center;
    margin-top: 20px;
}

.search{
    background-color: #2E2E2E;
    width: 19%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.search input{
    background-color: #2E2E2E;
    border: none;
    color: #fff;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
}

.search button{
    background-color: #2b608f;
    text-decoration: none;
    border: #28344E solid 0.001px;
    border-radius: 7px;
    padding: 5px;
    transition: 0.4s;
}

.search button:hover{
    background-color:#5383E8;
}

.region-select{
    margin-top: 10px;
}

#region{
    background-color: #2b608f;
    text-decoration: none;
    border: #28344E solid 0.001px;
    border-radius: 7px;
}

.count{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.count input{
    background-color: #2b608f;
    text-decoration: none;
    border: #28344E solid 0.001px;
    border-radius: 7px;
    height: 40%;
    width: 12%;
    color: black;
}

.masteries{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 5%;
}


.mastery-card{
    border-radius: 10px;
    border-style: solid;
    width: 120px;
    background-color: #2E2E2E;
    padding: 20px;
}

.mastery-card img{
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 0.001px;
    display: block;
    margin: 0 auto;


}

.mastery-card p{
    text-align: center;
    margin: 5px 0;
}

.mastery-card h3{
    text-align: center;
    margin: 5px 0;
}

.top-masteries{
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 17px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    gap: 20px;
}

.top-masteries a{
    color: #fff;
    text-decoration: none;
}

.rotation-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 5%;
}



.count{
    margin-right: 10px;
}

.match-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.match-card{
    display: flex;
    align-items: center;
    height: 20%;
    width: 40%;
    background-color: #2E2E2E;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    gap: 10px;
    box-sizing: border-box;
}

.champimg{
    width: 120px;
    height: 120px;
    
    border-radius: 10px;
    border-style: solid;
    border-width: 0.001px;
    margin-right: 20px;
}

.match-card img{
    border: #fff solid 0.001px;
    margin-left: 2px;
}

.match-card p{
    margin-left: 10px;
}

.win{
    background: #28344E;
    border: #5383E8 solid;
}

.lose{
    background: #59343B;
    border: #E84057 solid
}

.rankInfo{
    display: flex;
    flex-direction: column;
    background-color:#28344E;
    width: 45%;
    height: 5%;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0 auto;
    text-align: center;
    border-radius: 10px;
    border:#5383E8 solid 0.001px;
}

.rankInfo img{
    width: 20%;
    height: 20%;
    
}

.match-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.items{
    display: grid;
    grid-template-columns: repeat(3,32px);
    gap: 7px;
}

#rank{
    font-size: 20px;
}

.matchStats{
    margin: 4px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width:1000px) {
    .masteries{
        grid-template-columns: repeat(2, auto);
    }
    .rotation-list{
        grid-template-columns: repeat(2, auto); 
    }
    .match-card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;
        
    }
    .match-info{
        flex-direction: column;
    }
    .champimg{
        display: block;
        margin: 8px;
    }
}
