*{
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

body{
    background-color: #3C3C3C;
    padding-bottom: 40px;
}

.container{
    color: #fff;
}

.intro{
    margin-top: 50px;
    text-align: center; 
}

.search{
    text-align: center;
    margin-top: 20px;
}

.search input{
    padding: 5px;
}

.search button{
    padding: 5px;
}

.masteries{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.mastery-card{
    border-radius: 10px;
    border-style: solid;
    width: 120px;
    background-color: #2E2E2E;
    padding: 20px;
}

.mastery-card img{
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 0.001px;
    display: block;
    margin: 0 auto;


}

.mastery-card p{
    text-align: center;
    margin: 5px 0;
}

.mastery-card h3{
    text-align: center;
    margin: 5px 0;
}

.top-masteries{
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 17px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: end;
    gap: 20px;
}

.top-masteries a{
    color: #fff;
    text-decoration: none;
}

.rotation-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.count{
    margin-right: 10px;
}

.match-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.match-card{
    display: flex;
    height: 20%;
    width: 50%;
    background-color: #2E2E2E;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
    gap: 10px;
}

.champimg{
    width: 15%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.001px;
    margin-right: 20px;
}

.match-card img{
    border: #fff solid 0.001px;
}

.match-card p{
    margin-left: 10px;
}

.win{
    background: #28344E;
    border: #5383E8 solid;
}

.lose{
    background: #59343B;
    border: #E84057 solid
}